<!-- src/app/customer/customer-form.component.html -->
<form novalidate (ngSubmit)="saveCustomer()" [formGroup]="customerForm">
  <mat-card>
    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="view-card-title">{{ pageTitle }}</span>
        <span class="title-spacer"></span>
        <mat-card-actions>
          <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit" [disabled]='!customerForm.valid'>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab style="margin-right:10px;" [routerLink]="['/customers']">
            <mat-icon>cancel</mat-icon>
          </button>
          <!-- Botão de excluir apenas para edição -->
          <button *ngIf="isEditMode" mat-mini-fab style="background-color:red; margin-right:10px;" (click)="deleteCustomer()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content style="margin: 5 0 5 10px;">
      <div class="form-card">
        <mat-grid-list cols="12" rowHeight="80px">
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username (required)" formControlName="username" />
              <mat-error *ngIf="customerForm.get('username').invalid">
                Username is required.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name (required)" formControlName="firstName" />
              <mat-error *ngIf="customerForm.get('firstName').invalid">
                First Name is required.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name (required)" formControlName="lastName" />
              <mat-error *ngIf="customerForm.get('lastName').invalid">
                Last Name is required.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email (required)" formControlName="email" />
              <mat-error *ngIf="customerForm.get('email').invalid">
                A valid Email is required.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone" formControlName="phone" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-card-content>
  </mat-card>
</form>
