html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centraliza verticalmente */
}

.login-card {
  max-width: 480px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.example-header-image-2 img {
  width: 300px;
  height: auto;
  padding: 10px;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.login-button {
  background-color: #f74f4f;
  color: #fff;
  width: 100%;
}
